* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: blue;
}

#main {
    height: 100%;
    padding: 1rem 20rem;
}

#book-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    border: 1px solid red;
}

.book-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    border: 1px solid black;
}

#read-button.read {
    content: 'Read';
    background-color: green;
}

#read-button.not-read {
    content: 'Not Read';
    background-color: red;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: blue;
}

#form-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    padding: 1rem;
    border: 1px solid black;
    background-color: white;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5)
}

.hidden {
    display: none;
}